.social-share {
    margin: 0 -2px;
}

#mw-panel .social-share {
    padding: 0.25em 0;
    text-align: center;
}

.social-share .social-share-link {
    width: 20px;
    height: 20px;
    display: inline-block;
    overflow: hidden;
    margin: 0 2px;
    background-color: #000;
    border-radius: 2px;
    color: white;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

.social-share .social-share-prefix {
    line-height: 20px;
}